<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <title>Atualizar Usuário</title>
</head>
<div class="f">
    <img src="/images/Tweet-Web.png" width=" 300 px">
</div><br><br>

<body>
    <ul>
        <li><h1><a href="/pratica">Chat</a></h1></li>
    </ul>
    <div class="cadastro">
        <h1>Atualizar Usuário</h1>

        <form method="post" action="/usuarios/atualizar/<%= user?.id %>">
            <div>
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" value="<%= user?.name %>" required>
            </div>
                <br>
            <div>
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" value="<%= user?.username %>" required>
            </div>
                <br>
            <div>
                <label for="photo">Foto</label>
                <input type="photo" id="photo" name="photo" value="<%= user?.photo %>" required>
            </div>
                <br>
            <div>
                <label for="birthDate">Data de Nascimento</label>
                <input type="date" id="birthDate" name="birthDate" value="<%= user?.birthDate %>"required>
            </div>
                <br>
            <div>
                <label for="password">Senha</label>
                <input type="password" id="password" name="password"required>
            </div>
                <br>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= user?.email %>"required>
            </div>
                <br>
            <div>
                <label for="sex">Sexo</label>
                <select id="sex" name="sex" required>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Outro">Outro</option>
                    <option value="Prefiro não responder">Prefiro não responder</option>
                </select>
            </div>

            <div>
                <input type="submit" value="Atualizar">
            </div>
        </form>
        
    </div>
</body>

</html>