<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/pratica.css">
  <title>Perfil do Usuário</title>
</head>
<div class="f">
  <img src="/images/Tweet-Web.png" width=" 300 px">
</div>
<body>
  <h1>Perfil do Usuário</h1>

  <h2>Bem-vindo, <%= usuario.nome %>
  </h2>
  <p>Usuário: <%= usuario.apelido %>
  </p>
  <p>Usuário: <%= usuario.photo %>
  </p>
  <p>Data de Nascimento: <%= usuario.dataNascimento %>
  </p>
  <p>Email: <%= usuario.email %>
  </p>
  <p>Sexo: <%= usuario.sexo %>
  </p>
  <p>Administrador: <%= usuario.administrador ? 'Sim' : 'Não' %>
  </p>
  <p>Estado: <%= usuario.estado %>
  </p>

  <form method="POST" action="/usuarios/perfil/<%= usuario.id %>?_method=DELETE">
    <button type="submit">Deletar Perfil</button>
  </form>
  <li><a href="/pratica">Pratica</a></li>
</body>

</html>